<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
	<context:component-scan base-package="com.ds"></context:component-scan>
	<aop:aspectj-autoproxy/>
	<bean id="timeAspectWithoutAnnot" class="com.ds.TimeAspectWithoutAnnot">
	</bean>
	<aop:config>
		<aop:aspect ref="timeAspectWithoutAnnot">
			<aop:pointcut expression="execution(* com.ds.Employee.work(..))" 
				id="logTime"/>
			<aop:before method="printTimeBeforeCallingWork" pointcut-ref="logTime"/>	
			<aop:after method="printTimeAfterCallingWork" pointcut-ref="logTime"/>
			<aop:around method="check" pointcut-ref="logTime"/>
		</aop:aspect>
	</aop:config>
	
	
	
	
	
	
	
	
	
	
	
</beans>
