<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="bin/aci.properties"></property>
	</bean>
	<bean id="oldCompany" class="com.ds.Company">
		<property name="name" value="${co.name}"></property>
		<property name="country" value="${co.country}"></property>
		<property name="city" value="${co.city}"></property> 
	</bean>
	<util:properties location="bin/aci.properties" id="aciProps">
	</util:properties>
	
	<bean id="company" class="com.ds.Company">
		<property name="name" value="#{aciProps['co.name']}"></property>
		<property name="country" value="#{aciProps['co.country']}"></property>
		<property name="city" value="#{aciProps['co.city']}"></property>
	</bean>


	<util:list id="emailids">
		<value>sam1@yahoo.com</value>
		<value>sam2@gmail.com</value>
	</util:list>
	<bean id="person2" class="com.ds.Person">
		<property name="emails" ref="emailids"></property>
	</bean>
	
	<bean id="person" class="com.ds.Person">
		<property name="emails">
			<list>
				<value>prabhu@durasoftindia.com</value>
				<value>prabhu.something@gmail.com</value>
			</list>
		</property>
	</bean>
	
	
	<!-- constructor based DI -->
	<bean id="mybook2" class="com.ds.Book">
		<constructor-arg value="XYZ"></constructor-arg>
		<constructor-arg value="234"></constructor-arg>
	</bean>
	
	<!-- setter-based DI-->
	<bean id="mybook1" class="com.ds.Book">
		<property name="title" value="ABC"></property>
		<property name="price" value="120"></property>
	</bean>
	
	
	<bean id="book" class="com.ds.Book"></bean>
	<bean id="book2" class="com.ds.Book"></bean>
	
	<bean id="soundAlarm" class="com.ds.SoundAlarm"></bean>
	
	<bean id="door" class="com.ds.Door">
		<property name="alarm" ref="soundAlarm"></property>
	</bean>	
</beans>
